/* .navbar{
    visibility:collapse;
}
 body{
    background-repeat: no-repeat !important;
    width: 100% !important;
    margin: 0px;
    padding: 0px;
 }
 .the-img1{
    background-repeat: no-repeat !important;
    margin: 0px;
    position: relative;
    top: 0px !important;
 }

 .the-img2{
    background-repeat: no-repeat !important;
    margin: 0px;
    
 }
  */